Retrieval of NNTP articles via Message-ID doesn't need a news-group first

The `fetchArticleOperationWithMessageID` method for the `MCONNTPSession` class in "mailcore2 / src / objc / nntp / MCONNTPSession.h" has an extra parameter. Looking at the NNTP spec (RFC 3977, section 6.2), retrieving an article (or part thereof) via the Message-ID does not require an actively-pointed-to group and is in fact designed to retrieve articles without altering said pointer.

The method should be changed to ignore any value of the second parameter, and allow a `nil` argument value. The docs for the method should indicate as such. Further, a new method without the second parameter should be made. (The current method can't be removed/replaced without screwing up compatibility.)


I'm not sure what's your use case. Though, feel free to create a pull request for it.
Thanks!


One of the news URL formats is just the Message-ID, so it's common to know the article's ID for a download without knowing the article's corresponding group(s). The current form of the method implies you need to know (one of) its group first, which isn't necessary.